# compiled output
/node_modules
/dist

# docker file
.dockerignore
docker-compose.yml
Dockerfile

# environment
.env

# log
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*