# compiled output
/node_modules
/dist
/test

# docker file
.dockerignore
docker-compose.yml
Dockerfile

# git
/.git
.gitignore

# extension file
.env.example
.prettierrc
.eslintrc.js

# environment
.env

# log
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*